:root {
  --brand-color: #212121;
  --hover-color: #2196f3;
  --grey-color: #757575;
}
body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  background: #f5f5f5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* === Start header ===*/

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-first-letters {
  color: var(--hover-color);
}

.nav-list-link,
.contact-list-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.contact-list-link {
  color: var(--grey-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--hover-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--hover-color);
}

/* === END HEADER === */

/* === START COMPONENTS === */
.hero,
.footer {
  background: #2f303a;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}
/* === END COMPONENTS === */
/* === START HERO === */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}
/* === END HERO === */
/* === START FOOTER === */

.logo-footer {
  color: #ffffff;
}
.address,
.footer-contact-mail,
.footer-contact-number {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-address {
    color: #ffffff;
}
/* === END FOOTER === */
